server:
  port: 8888

spring:
  application:
    name: configuration-service
  cloud:
    config:
      server:
        git:
          uri: file:///c:/School/School_5IIR/ArchitechtureDesComposantes/Delivery_Tracker/config-repo
          default-label: main

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
