server:
  port: 8888

spring:
  application:
    name: configuration-service
  cloud:
    config:
      server:
        git:
          uri: file:///c:/Users/RAZER/Documents/Emsi/5iir/Archi%20compo/Projet/Delivey%20project/Delivery_Tracker/config-repo
          default-label: main

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
